h3{
    margin-top: 30px;
    text-align: center;
}
.alert{
    position: absolute;
    top: 200px;
    right: 200px;
    width: 400px;
    height: 100px;
    padding: 30px 0px 0px 30px;
    font-size: 20px;
    background-color: green;
    color: wheat;
    transition-duration: 0.4s;
}
.close{
    margin-top: 22px;
}
form{
    background-color: rgb(240, 238, 238);
    border: 1px solid rgb(241, 241, 241);
    padding: 30px;
}